@mixin dis-flex($direction: row, $justify: start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin bg($size: cover, $position: center) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}

// responsive
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Breakpoints down
@mixin small-device-down {
    @media (max-width: #{map-get($grid-breakpoints, 'sm')}) {
        @content;
    }
}

@mixin medium-device-down {
    @media (max-width: #{map-get($grid-breakpoints, 'md')}) {
        @content;
    }
}

@mixin large-device-down {
    @media (max-width: #{map-get($grid-breakpoints, 'lg')}) {
        @content;
    }
}

@mixin x-large-device-down {
    @media (max-width: #{map-get($grid-breakpoints, 'xl')}) {
        @content;
    }
}
@mixin xx-large-device-down {
    @media (max-width: #{map-get($grid-breakpoints, 'xxl')}) {
        @content;
    }
}
