//fonts
$montserrat: "Montserrat", sans-serif;

//cores
$color-one: #1fad90;
$color-two: #f89623;
$color-three: #232323; //bg do header
$color-four: #2e2e2e;
$color-five: #524a4a;
$color-six: #eae6e6;

$color-black: #171717;
$color-white: #ffffff;
