@use "utilities/variables" as *;
@use "utilities/mixins" as *;

%theme {
    &__padding {
        padding-top: 0;
        padding-right: 2.5rem;
        padding-bottom: 0;
        padding-left: 2.5rem;
    }

    &__menu-lnk {
        font: 500 1rem $montserrat;
        color: $color-six;
    }

    &__ttl {
        font: 600 1.5rem $montserrat;
        color: $color-white;
        text-align: left;
        position: relative;

        &--af {
            @extend %theme__ttl;

            &::after {
                display: block;
                margin-top: 1.5rem;
                content: "";
                width: 4rem;
                height: 0.25rem;
                background-color: $color-two;
            }
        }
    }

    &__btn {
        &-01 {
            font: 600 0.875rem $montserrat;
            text-align: center;
            color: $color-white;
            padding: 0.75rem 1rem;
            width: fit-content;

            display: block;
            background-color: $color-five;
        }

        &-04 {
            font: 400 0.875rem $montserrat;
            text-align: center;
            text-transform: uppercase;
            color: $color-black;

            background-color: $color-one;
            border-radius: 0.5rem 0 0.5rem 0.5rem;

            padding: 0.5rem 2rem 0.5rem 0.75rem;
            width: fit-content;
            display: block;
            position: relative;

            &::after {
                content: "";
                background-color: $color-white;
                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
                clip-path: polygon(0 0, 0% 100%, 100% 50%);

                height: 0.75rem;
                width: 0.75rem;

                position: absolute;
                right: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-05 {
            @include dis-flex(row, center, center);
            width: fit-content;
            padding: 0.5rem 2.5rem;

            outline: none;
            border: solid 1px $color-three;
            border-radius: 0.5rem;
            background-color: $color-three;

            font: 600 0.875rem $montserrat;
            color: $color-white;

            transition: background-color ease 0.3s, border-color ease 0.3s;

            &:hover {
                transition: background-color ease 0.3s, border-color ease 0.3s;
                border-color: $color-black;
                background-color: transparent;
            }
        }
    }

    &__input {
        width: 100%;
        height: 2.5rem;
        position: relative;
        @include dis-flex(row, start, end);

        background-color: $color-white;
        border-radius: 1.25rem;
        padding: 0.5rem 1.5rem;

        &:has(&__input:focus, .filled) {
            padding-bottom: 0;
        }

        &:has(&__input:focus, .filled) &__label {
            top: 0.5rem;
            font-size: 0.75rem;
            transition: all 0.3s ease;
        }

        &__label {
            color: $color-black;
            font: 300 1rem $montserrat;
            position: absolute;
            left: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            transition: all 0.3s ease;
        }

        &__input {
            opacity: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            font: 300 1rem $montserrat;

            width: 100%;
            height: 1.5rem;

            transition: all 0.3s ease;

            &:focus,
            &.filled {
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }

    &__pagination {
        .swiper-pagination-bullets {
            margin-top: 2rem;
            text-align: left;
            .swiper-pagination-bullet {
                width: 20px;
                height: 20px;

                border-radius: 0;
                background-color: rgba($color-two, 0.5);

                &-active {
                    background-color: $color-two;
                }
            }
        }
    }

    &__nav {
        // VARIÁVEIS QUE ALTERAM AS SETAS DE NAVEGAÇÃO
        --swiper-navigation-size: 0.75rem; /* Variável que define o tamanho do botão e do after */
        --swiper-navigation-color: $color-one; /* Variável que define a cor do after (setas) */

        // O CSS DEVE SER RETIRADO QUANDO NÃO HOUVER UM CONTAINER PARAR SEGURAR OS BOTÕES DE NAVEGAÇÃO (&__nav)
        position: relative;
        width: 5rem; /* Tamanho do botão interno * 2 + GAP */
        height: 2rem; /* Garante que o tamanho do botão esteja dentro do box. Caso o size seja alterado, deve-se alterar o tamanho do height */
        margin: 3rem auto 0;
        @include dis-flex(row, space-between, center);

        // .swiper-button-next,
        // .swiper-button-prev {
        // O CSS DEVE SER RETIRADO QUANDO NÃO HOUVER UM BG NOS BOTÕES DE NAVEGAÇÃO
        // position: relative;
        // width: auto;
        // aspect-ratio: 1/1;

        // margin: unset;
        // top: unset;
        // right: unset;
        // left: unset;

        // border-radius: 50%;
        // background-color: $color-one;

        // &::after {
        //     color: $color-five;
        //     font-size: 0.75rem; /* tamanho da seta */
        // }
        // }
    }
}
