@use "utilities/variables" as *;
@use "utilities/mixins" as *;

%theme {
    &-menu-lnk {
        font-family: $montserrat;
        font-weight: 500;
        font-size: 1rem;

        color: $color-six;
    }

    &-ttl {
    }
}
