@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../theme";

.pge-signup-inst {
    background-color: $color-four;

    &__main {
        padding-top: 5.25rem;
        padding-left: 2.5vw;

        &__title {
            @extend %theme__ttl--af;
        }
    }
}
