@use "../../theme";
@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.cmp-crd-profile {
    width: 30%;
    padding: 0.5rem 1rem 2rem;
    border-radius: 1.25rem;

    @include dis-flex(column, start, start);

    background-color: $color-four;

    @include large-device-down {
        width: fit-content;
        margin-inline: auto;
        margin: 0 auto 2rem;
    }

    &__img {
        width: 6.25rem;
        height: auto;
        aspect-ratio: 1/1;

        object-fit: cover;
        object-position: center;

        margin: 0 auto 1.75rem;

        border-radius: 50%;

    }

    .cmp-btn-01 {
        background-color: $color-one;
        border-color: $color-one;
        margin-inline: auto;

        &:hover {
            background-color: transparent;
            transition: background-color 0.3s ease;
        }
    }

    box-shadow: 0 0.25rem 0.25rem 0 rgba(#000, 0.25);

    input[type="file"] {
        display: none;
    }

    &__name,
    &__cpf,
    &__rg{
        display: none;
        font: 400 0.875rem $montserrat;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 0.25rem;
    }

    &__name{
        font: 600 1rem $montserrat;

        margin: .75rem 0 1.5rem;
        text-align: center;
    }

    &__rg{
        margin-bottom: 0;

    }

}
