@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.mdl-header {
    @include dis-flex($align: center, $justify: space-between);
    background-color: $color-three;
    padding: 24px 2.5vw;

    &__logo {
        display: block;
        height: auto;
        width: 56px;
        aspect-ratio: 50/59;

        img {
            @include objConfig($fit: contain);
        }
    }

    &__profile-pic {
        @include objConfig($fit: cover);
        height: auto;
        width: 56px;
        aspect-ratio: 1/1;

        border-radius: 50%;
    }
}
